 body {
    font-family: "Montserrat";
 }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }
 :root {
    --color: #EBD8FF;
 
 }

 .card {
    
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    width: 380px;
    height: 460px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    position: relative;
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
 }
/* Header */
 .logo {
    margin: 20px 0 0 20px;
 }

 .header__image {
    position: absolute;
    left: 36px;
    top: 28px;
 }

/* Separation */
 .separation {
    display: flex;
    justify-content: center;
    
}
.separation__image {
    margin-top: 135px;
    position: relative;
    z-index: 3;
}
.separation__border {
    width: 380px;
    height: 8px;
    background: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
    position: absolute;
    top: 47%;
    
}
/* Content */
.content {
    text-align: center;
    
}
.content__tweets {
    color: var(--color);
    margin: 26px 0 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.content__folowers {
    color: var(--color);
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/* Button */
.content__button {
    font-weight: 600;
font-size: 18px;
line-height: 22px;
}

.btn {
    padding: 14px 56px;
    background: var(--color);
    color: #373737;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    transition: .3s;
    background: #c0b1d1;
}

.btn:active {
    transition: .4s;
    padding: 10px 50px;
}


